<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="mysqlcon" connectionString="Data Source=rdss35a0i331e6661w95o.mysql.rds.aliyuncs.com;Database=coodellshop;User ID=coodelladmin;Password=Coodell2016" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FacePay" value="c:\FacePay\" />
    <add key="phonefilename" value="phone.txt" />
  </appSettings>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
